<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <link href="../public/css/main.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <title>Ohmyfood - À la française</title>
  </head>
  <body>
    <header>
      <a href="../index.html#citerouge"><i class="fas fa-arrow-left"></i></a>
      <div class="header__logo">
        <img src="../images/logo/ohmyfood.png" alt="Oh my food logo" />
      </div>
    </header>
    <div class="fond-img">
      <img
        class="image-menu"
        src="../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg"
        alt="Lapalette du gout"
      />
    </div>
    <section class="section__menu">
      <div class="restaurant-title">
        <h1>À la française</h1>
        <div class="coeurs" id="retauCoeur">
          <i class="far fa-heart coeur-contour"></i>
          <i class="fa-solid fa-heart"></i>
        </div>
      </div>
      <div class="all-menu">
        <!--LES ENTREES-->
        <div class="section__menu--step">
          <h4>ENTRÉES</h4>
          <!--CHOICE 1-->
          <div class="section__menu--choice delay-0">
            <div class="section__menu--text">
              <h5>Tartare de poulpe acidulé</h5>
              <small>Aux zestes d'orange</small>
            </div>
            <p class="section__addition--prix">25€</p>
            <div class="section__addition--validationBlock">
              <div class="section__addition--validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
          </div>
          <!--CHOICE 2-->
          <div class="section__menu--choice delay-1">
            <div class="section__menu--text">
              <h5>Velouté de légumes d'antan</h5>
              <small>Carotte, panais, topinambour</small>
            </div>
            <p class="section__addition--prix">35€</p>
            <div class="section__addition--validationBlock">
              <div class="section__addition--validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
          </div>
          <!--CHOICE 3-->
          <div class="section__menu--choice delay-2">
            <div class="section__menu--text">
              <h5>Soupe à l'oignon</h5>
              <small>Revisitée</small>
            </div>
            <p class="section__addition--prix">20€</p>
            <div class="section__addition--validationBlock">
              <div class="section__addition--validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
          </div>
        </div>

        <!--PLATS-->
        <div class="section__menu--step">
          <h4>PLATS</h4>
          <!--CHOICE 1-->
          <div class="section__menu--choice delay-0">
            <div class="section__menu--text">
              <h5>Coquilles Saint-Jacques</h5>
              <small>Accompagnées d'une purée de panais</small>
            </div>
            <p class="section__addition--prix">40€</p>
            <div class="section__addition--validationBlock">
              <div class="section__addition--validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
          </div>
          <!--CHOICE 2-->
          <div class="section__menu--choice delay-1">
            <div class="section__menu--text">
              <h5>Magret de canard</h5>
              <small>Et parmentier de pommes de terres</small>
            </div>
            <p class="section__addition--prix">35€</p>
            <div class="section__addition--validationBlock">
              <div class="section__addition--validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
          </div>
          <!--CHOICE 3-->
          <div class="section__menu--choice delay-1">
            <div class="section__menu--text">
              <h5>Pigeonneau d'Ile-et-Vilaine</h5>
              <small>Sur son lit de gnocchis aux légumes</small>
            </div>
            <p class="section__addition--prix">44€</p>
            <div class="section__addition--validationBlock">
              <div class="section__addition--validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
          </div>
        </div>
          <!--DESSERTS-->
        <div class="section__menu--step">
            <h4>DESSERTS</h4>
            <!--CHOICE 1-->
            <div class="section__menu--choice delay-0">
              <div class="section__menu--text">
                <h5>Pétales de violettes glacés</h5>
                <small>Et purée de noisette</small>
              </div>
              <div class="section__addition--prix">18€</div>
              <div class="section__addition--validationBlock">
                <div class="section__addition--validation">
                  <i class="fas fa-check-circle"></i>
                </div>
              </div>
            </div>
            <!--CHOICE 2-->
            <div class="section__menu--choice delay-1">
              <div class="section__menu--text">
                <h5>Fondant au chocolat</h5>
                <small>Revisité</small>
              </div>
              <p class="section__addition--prix">22€</p>
              <div class="section__addition--validationBlock">
                <div class="section__addition--validation">
                  <i class="fas fa-check-circle"></i>
                </div>
              </div>
            </div>
            <!--CHOICE 3-->
            <div class="section__menu--choice delay-2">
              <div class="section__menu--text">
                <h5>Millefeuille croustillant</h5>
                <small>Myrtilles et pâte d'amande</small>
              </div>
              <div class="section__addition--prix">23€</div>
              <div class="section__addition--validationBlock">
                <div class="section__addition--validation">
                  <i class="fas fa-check-circle"></i>
                </div>
              </div>
            </div>
        </div>
      <div class="button-commande">
        <a class="button" href="#restaurants">
          <div class="button--text">Commander</div>
        </a>
      </div>
    </section>
    <footer>
      <img src="../images/logo/ohmyfood.png" alt="oh my food logo" />
      <ul>
        <li>
          <a href="#"><i class="fas fa-utensils"></i>Proposer un restaurant</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-hands-helping"></i>Devenir partenaire</a>
        </li>
        <li>
          <a href="#">Mentions légales</a>
        </li>
        <li>
          <a href="mailto:#">Contact</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
