* {
  margin: 0;
  padding: 0; }

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  outline: none; }

body {
  font-family: "Roboto", sans-serif; }

h4 {
  font-weight: 300;
  margin-bottom: 14px;
  margin-top: 30px; }

h5 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 5px; }

.button {
  background: linear-gradient(to top left, #9356dc, #ff79da);
  border-radius: 50px;
  padding: 17px 15px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 8px;
  display: flex;
  justify-content: center;
  max-width: 200px; }
  .button--text {
    color: white; }
  .button:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px;
    background: linear-gradient(to top left, #b556dc, #ff79b9); }

.button-commande {
  margin: 0 75px; }

.restaurant__card {
  position: relative;
  display: block;
  border-radius: 15px;
  margin-bottom: 17px;
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 8px; }
  .restaurant__card--image-palette {
    width: 100%;
    height: 173px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    background-position-y: 100%;
    background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg"); }
  .restaurant__card--image-note {
    width: 100%;
    height: 173px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    background-position-y: 61%;
    background-image: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg"); }
  .restaurant__card--image-francaise {
    width: 100%;
    height: 173px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    background-position-y: 100%;
    background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg"); }
  .restaurant__card--image-delice {
    width: 100%;
    height: 173px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    background-position-y: 100%;
    background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg"); }
  .restaurant__card--label {
    position: absolute;
    right: 2rem;
    top: 7%;
    background-color: #99e2d0;
    color: #008d47;
    width: 70px;
    text-align: center;
    padding: 6px 8px;
    border-radius: 2px; }
  .restaurant__card--infos {
    background-color: white;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 13px 25px 15px 13px; }
  .restaurant__card h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px; }
  .restaurant__card p {
    opacity: 0.7; }

.fa-solid {
  opacity: 0;
  transform-origin: bottom; }
  .fa-solid:hover, .fa-solid:active {
    opacity: 1;
    cursor: pointer;
    background: linear-gradient(to top, #9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scaleY(1);
    animation: heart-to-top 0.25s linear;
    animation-fill-mode: forwards; }

@keyframes heart-to-top {
  0% {
    background: linear-gradient(to top, #9356dc, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  100% {
    background: linear-gradient(to top, #9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; } }

.fa-heart {
  font-size: 20px; }

.far {
  position: absolute;
  opacity: 0.6; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurant__card {
    min-width: 250px;
    max-width: 500px;
    margin: 10px; } }

@media screen and (min-width: 992px) {
  .restaurant__card {
    min-width: 250px;
    max-width: 500px;
    margin: 10px; } }

.spinner-anim {
  margin: 20px 0px 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }

.loader {
  position: relative;
  width: 80px;
  height: 80px;
  border: 2px solid #b556dc;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1), 10px 10px 10px rgba(0, 0, 0, 0.4), inset -2px -2px 1px rgba(255, 255, 255, 0.2), inset 10px 10px 10px rgba(0, 0, 0, 0.4); }

.loader:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  background: white;
  border-radius: 50%;
  border: 1px solid #b556dc;
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2), inset 3px 3px 5px rgba(0, 0, 0, 0.5); }

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(-225deg, #9356dc, #ff79da, #ff79da);
  filter: blur(20px);
  z-index: -1;
  animation: animate 0.5s linear infinite; }

@keyframes animate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.header__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f6f4f4; }
  .header__logo img {
    max-width: 160px;
    margin: 15px 0 10px 0; }

.header__localisation {
  width: 100%;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 15px 0 15px 0; }
  .header__localisation-text {
    display: flex;
    justify-content: center; }

.fa-map-marker-alt {
  transform: translateX(-20px); }

.header__marketing {
  background-color: #f6f6f6;
  padding: 40px 35px 50px 35px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; }
  .header__marketing h2 {
    padding: 0 10px 20px 10px; }
  .header__marketing small {
    font-size: 18px;
    font-weight: 200;
    padding-bottom: 30px; }

header .fa-arrow-left {
  position: absolute;
  margin-top: 20px;
  margin-left: 15px;
  font-size: 20px; }

footer {
  background-color: #353535;
  color: #ebe5e5;
  padding: 25px 20px 30px 20px; }
  footer img {
    width: 90px;
    filter: invert(1);
    margin-bottom: 18px; }
  footer a {
    text-decoration: none;
    color: #ebe5e5; }
    footer a:visited {
      color: #ebe5e5; }
  footer ul {
    list-style-type: none;
    padding: 0; }
    footer ul .fas {
      padding-right: 12px;
      font-size: 12px; }
    footer ul li {
      margin-bottom: 5px; }

.main__fonctionnement {
  padding: 35px 20px; }
  .main__fonctionnement h2 {
    margin-bottom: 30px; }

.fonctionnement__step {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .fonctionnement__step--content {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    padding: 25px 25px;
    border-radius: 18px;
    width: 300px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 8px; }
    .fonctionnement__step--content p {
      margin-left: 25px; }
    .fonctionnement__step--content:hover {
      background-color: #f5edff; }
      .fonctionnement__step--content:hover .fas {
        color: #9356dc; }
  .fonctionnement__step--numero {
    color: white;
    background-color: #9356dc;
    border-radius: 50px;
    width: 18px;
    height: 22px;
    padding-left: 8px;
    padding-top: 3px;
    transform: translateX(8px); }

.fa-mobile-alt,
.fa-list-ul,
.fa-store {
  color: #7e7e7e;
  font-size: 20px; }

.main__restaurants {
  background: #f6f6f6;
  padding: 35px 20px; }
  .main__restaurants h2 {
    margin-bottom: 30px; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main__fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px; }
  .main__restaurants {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column; }
  .all-restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }

@media screen and (min-width: 992px) {
  main {
    display: flex; }
  .right {
    border-left: solid 1px white;
    height: 100%; }
  .main__fonctionnement {
    display: flex;
    flex-direction: column; }
  .main__restaurants {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column; }
  .all-restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 35px; }
    .all-restaurants--line {
      display: flex; } }

.restaurant-title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.image-menu {
  width: 100%;
  position: absolute;
  z-index: -1; }

.charonne {
  top: -50px; }

h4:after {
  display: flex;
  content: "";
  background: #99e2d0;
  margin-top: 5px;
  width: 40px;
  height: 3px; }

.section__menu {
  background-color: #f6f4f4;
  padding: 40px 20px 40px 20px;
  border-radius: 35px 35px 0 0;
  margin-top: 200px;
  z-index: 1; }
  .section__menu a {
    margin: auto;
    display: block;
    text-align: center;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 8px; }
  .section__menu--step {
    margin-bottom: 40px; }
  .section__menu--choice {
    border-radius: 16px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 8px;
    margin-bottom: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    animation: displayMenu 0.8s;
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%; }
    .section__menu--choice:hover {
      display: flex;
      justify-content: space-between; }
  .section__menu--text {
    padding: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 1; }
  .section__menu--text small {
    font-size: 15px;
    font-weight: 300; }

@keyframes displayMenu {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

.delay-0 {
  animation-delay: 0s; }

.delay-1 {
  animation-delay: 0.1s; }

.delay-2 {
  animation-delay: 0.2s; }

.delay-3 {
  animation-delay: 0.3s; }

.section__addition {
  display: flex; }
  .section__addition--prix {
    font-weight: 500;
    margin-right: 5px;
    color: #353535;
    display: flex;
    align-items: flex-end;
    margin: 0 20px 13px 0px;
    cursor: pointer; }
    .section__addition--prix:hover .section__addition--validation {
      width: auto;
      border-radius: 0 16px 16px 0;
      background-color: #99e2d0;
      display: flex;
      align-items: center;
      transition: all 1s ease;
      animation: validation 1s ease-out backwards;
      width: auto; }
    .section__addition--prix:hover .icone-validation {
      transform: rotate(0); }
    .section__addition--prix:hover .section__addition--validationBlock {
      transform: scaleX(1); }
  .section__addition--validationBlock {
    transform: scaleX(0);
    background-color: #99e2d0; }
  .section__addition--validation {
    border-radius: 0 16px 16px 0;
    background-color: white;
    display: flex;
    align-items: center; }
    .section__addition--validation:hover {
      transform: rotate(0);
      background-color: #99e2d0; }

.section__menu--text,
h5,
small {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 1; }

.icone-validation {
  color: white;
  font-size: 35px;
  margin: 0 20px;
  width: 0px;
  transform: rotate(180deg); }

@media screen and (min-width: 992px) {
  .all-menu {
    display: flex;
    flex-wrap: wrap; }
  .section__menu--step {
    justify-content: left;
    display: flex;
    flex-direction: column;
    margin-right: auto; } }
