/* _base */
* {
  margin: 0;
  padding: 0;
}
/* _typography */
body {
  font-family: "Roboto", sans-serif;
}
/* _header */
.header__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f6f4f4;
}
.header__logo img {
  width: 50%;
  margin: 15px 0 10px 0;
}

.header__localisation {
  width: 100%;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px rgb(0 0 0 / 10%);
  padding: 15px 0 15px 0;
}
.fa-map-marker-alt {
  transform: translateX(-20px);
}
.header__localisation-text {
  display: flex;
  justify-content: center;
}
.header__marketing {
  background-color: #f6f6f6;
  padding: 40px 35px 50px 35px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.header__marketing h2 {
  padding: 0 10px 20px 10px;
}
.header__marketing small {
  font-size: 18px;
  font-weight: 200;
  padding-bottom: 30px;
}

/* _button --> attention, bien changer les couleurs avec les variables*/
.button {
  /* width: 200px; */
  color: white;
  background: linear-gradient(to top, #9356dc, #ff79da);
  border-radius: 50px;
  padding: 17px 15px;
}
.header__marketing a {
  margin: auto;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 8px;
}

/* _home */
.main__fonctionnement {
  padding: 35px 20px;
}

.main__fonctionnement h2 {
  margin-bottom: 30px;
}

/* _button */
.all-steps a {
  text-decoration: none;
}
.fonctionnement__step {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.step__content {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 25px 25px;
  border-radius: 18px;
  width: 300px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 8px;
}

.step__content:hover {
  background-color: #f5edff;
}
.step__content:hover .fas {
  color: #9356dc;
}

.step__content:active {
  background-color: #f5edff;
}
.step__content:active .fas {
  color: #9356dc;
}
.step__numero {
  color: white;
  background-color: #9356dc;
  border-radius: 50px;
  width: 18px;
  height: 22px;
  padding-left: 8px;
  padding-top: 3px;
  transform: translateX(8px);
}

.fa-mobile-alt,
.fa-list-ul,
.fa-store {
  color: #7e7e7e;
  font-size: 20px;
}
.step__content p {
  margin-left: 25px;
}

.main__restaurants {
  background: #f6f6f6;
  padding: 35px 20px;
}

/* _cards */
.main__restaurants h2 {
  margin-bottom: 30px;
}
.all-restaurants a {
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 8px;
}
.all-restaurants a:visited {
  color: black;
}
.restaurant__card {
  display: block;
  border-radius: 15px;
  margin-bottom: 17px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 8px;
}

.restaurant__card-image-palette {
  width: 100%;
  height: 173px;
  background-position-y: 100%;
  background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
}
.restaurant__card-image-note {
  width: 100%;
  height: 173px;
  background-position-y: 61%;
  background-image: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
}
.restaurant__card-image-francaise {
  width: 100%;
  height: 173px;
  background-position-y: 100%;
  background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
}
.restaurant__card-image-delice {
  width: 100%;
  height: 173px;
  background-position-y: 100%;
  background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
}

.restaurant-label {
  position: relative;
  left: 70%;
  top: 7%;
  background-color: #99e2d0;
  color: #008d47;
  width: 70px;
  text-align: center;
  padding: 6px 8px;
  border-radius: 2px;
}

.restaurant__card-infos {
  background-color: white;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 13px 25px 15px 13px;
}

.restaurant__card h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.restaurant__card p {
  opacity: 0.7;
}

.fa-heart {
  font-size: 20px;
  opacity: 0.6;
}
/* _footer */
footer {
  background-color: #353535;
  color: #ebe5e5;
  padding: 25px 20px 30px 20px;
}
footer img {
  width: 90px;
  filter: invert(1);
  margin-bottom: 18px;
}
footer a {
  text-decoration: none;
  color: #ebe5e5;
}

footer a:visited {
  color: #ebe5e5;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul .fas {
  padding-right: 12px;
  font-size: 12px;
}

ul li {
  margin-bottom: 5px;
}

header .fa-arrow-left {
  position: absolute;
  margin-top: 20px;
  margin-left: 15px;
}

header a {
  color: black;
}

.fa-arrow-left {
  font-size: 20px;
}

.image-menu {
  width: 100%;
}

.section__menu {
  background-color: #f6f4f4;
  padding: 40px 20px 40px 20px;
  border-radius: 35px 35px 0 0;
  transform: translateY(-50px);
}
.restaurant-title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-heart {
  font-size: 25px;
  margin-right: 10px;
}

.section__menu-step {
  margin-bottom: 40px;
}
.section__menu-step h4 {
  font-weight: 300;
  margin-bottom: 14px;
  margin-top: 30px;
}
h4:after {
  display: flex;
  content: "";
  background: #99e2d0;
  margin-top: 5px;
  width: 40px;
  height: 3px;
}

.menu-step-choice {
  border-radius: 16px;
  /* width: 338px; */
  color: black;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 8px;
  margin-bottom: 15px;
  background-color: white;
}
.choice-info {
  padding: 13px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
h5 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 5px;
}
.choice-text small {
  font-size: 15px;
  font-weight: 300;
}
.prix {
  font-weight: 500;
  margin-right: 5px;
  color: #353535;
}
.choice-validation {
  display: none;
}

.section__menu a {
  margin: auto;
  display: block;
  text-align: center;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 8px;
}

.button-commande {
  margin: 0 75px;
}
