/* _cards */
/* .main__restaurants h2 {
  margin-bottom: 30px;
}
.all-restaurants a {
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 8px;
}
.all-restaurants a:visited {
  color: black;
}
.restaurant__card {
  display: block;
  border-radius: 15px;
  margin-bottom: 17px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 8px;
}

.restaurant__card--image-palette {
  width: 100%;
  height: 173px;
  background-position-y: 100%;
  background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
}
.restaurant__card--image-note {
  width: 100%;
  height: 173px;
  background-position-y: 61%;
  background-image: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
}
.restaurant__card--image-francaise {
  width: 100%;
  height: 173px;
  background-position-y: 100%;
  background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
}
.restaurant__card--image-delice {
  width: 100%;
  height: 173px;
  background-position-y: 100%;
  background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
}

.restaurant__card--label {
  position: relative;
  left: 70%;
  top: 7%;
  background-color: #99e2d0;
  color: #008d47;
  width: 70px;
  text-align: center;
  padding: 6px 8px;
  border-radius: 2px;
}

.restaurant__card--infos {
  background-color: white;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 13px 25px 15px 13px;
}

.restaurant__card h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.restaurant__card p {
  opacity: 0.7;
}

.fa-heart {
  font-size: 20px;
  opacity: 0.6;
}
/* _footer */
/* footer {
  background-color: #353535;
  color: #ebe5e5;
  padding: 25px 20px 30px 20px;
}
footer img {
  width: 90px;
  filter: invert(1);
  margin-bottom: 18px;
}
footer a {
  text-decoration: none;
  color: #ebe5e5;
}

footer a:visited {
  color: #ebe5e5;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul .fas {
  padding-right: 12px;
  font-size: 12px;
}

ul li {
  margin-bottom: 5px;
} */
/* header .fa-arrow-left {
  position: absolute;
  margin-top: 20px;
  margin-left: 15px;
}

header a {
  color: black;
}

.fa-arrow-left {
  font-size: 20px;
} */

.image-menu {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.charonne {
  top: -50px;
}
.section__menu {
  background-color: #f6f4f4;
  padding: 40px 20px 40px 20px;
  border-radius: 35px 35px 0 0;
  margin-top: 200px;
  z-index: 1;
}
.restaurant-title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-heart {
  font-size: 25px;
  margin-right: 10px;
}

.section__menu--step {
  margin-bottom: 40px;
}
.section__menu--step h4 {
  font-weight: 300;
  margin-bottom: 14px;
  margin-top: 30px;
}
h4:after {
  display: flex;
  content: "";
  background: #99e2d0;
  margin-top: 5px;
  width: 40px;
  height: 3px;
}

.section__menu--choice {
  border-radius: 16px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 8px;
  margin-bottom: 15px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.section__section__menu--info {
  padding: 13px;
  display: flex;
  /* align-items: flex-end; */
  justify-content: space-between;
}
h5 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 5px;
}

.section__menu--text,
h5,
p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 1;
  /* width: 100%;
  transition: 0.5s ease-in-out; */
}
.section__addition {
  display: flex;
}
.section__menu--text small {
  font-size: 15px;
  font-weight: 300;
}
.section__addition--prix {
  font-weight: 500;
  margin-right: 5px;
  color: #353535;
  display: flex;
  align-items: flex-end;
  margin: 0 20px 13px 0px;
}

.choice-validation {
  width: 0px;
  border-radius: 0 16px 16px 0;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  transition: all 1s ease;
}
.section__menu--choice:hover .choice-validation {
  width: auto;
  transition: all 1s ease;
}
.section__menu--choice:hover.section__section__menu--info {
  display: flex;
  justify-content: space-between;
}
.section__menu--choice:hover {
  display: flex;
  justify-content: space-between;
}

.fa-check-circle {
  color: white;
  font-size: 35px;
  margin: 0 20px;
}

.section__menu a {
  margin: auto;
  display: block;
  text-align: center;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 8px;
}

.button-commande {
  margin: 0 75px;
}
