.restaurant-title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-menu {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.charonne {
  top: -50px;
}

.section__menu {
  background-color: #f6f4f4;
  padding: 40px 20px 40px 20px;
  border-radius: 35px 35px 0 0;
  margin-top: 200px;
  z-index: 1;
  a {
    margin: auto;
    display: block;
    text-align: center;
    text-decoration: none;
    @include default-box-shadow;
  }
  &--step {
    margin-bottom: 40px;
  }
  &--choice {
    border-radius: 16px;
    color: black;
    @include default-box-shadow;
    margin-bottom: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    animation: menuchoice 1s 1;
    &:hover {
      display: flex;
      justify-content: space-between;
    }
    &:hover .section__addition--validation {
      width: auto;
      transition: all 1s ease;
    }
    &:hover.section__section__menu--info {
      display: flex;
      justify-content: space-between;
    }
  }
  &--info {
    padding: 13px;
    display: flex;
    justify-content: space-between;
  }
  &--text small {
    font-size: 15px;
    font-weight: 300;
  }
}
@keyframes menuchoice {
  from {
    transform: scaleY(0.5);
  }
  to {
    transform: scaleY(1);
  }
}

.section__addition {
  display: flex;
  &--prix {
    font-weight: 500;
    margin-right: 5px;
    color: #353535;
    display: flex;
    align-items: flex-end;
    margin: 0 20px 13px 0px;
  }
  &--validation {
    width: 0px;
    border-radius: 0 16px 16px 0;
    background-color: $colour-tertiary;
    display: flex;
    align-items: center;
    transition: all 1s ease;
  }
}

h4:after {
  display: flex;
  content: "";
  background: $colour-tertiary;
  margin-top: 5px;
  width: 40px;
  height: 3px;
}
.section__menu--text,
h5,
small {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 1;
}

.fa-check-circle {
  color: white;
  font-size: 35px;
  margin: 0 20px;
}
