.restaurant-title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fond-img {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.image-menu {
  width: 100%;
}
.charonne {
  transform: translateY(-130px);
}

#retauCoeur {
  margin: 0 10px;
  transform: translateY(5px);
}

h4:after {
  display: flex;
  content: "";
  background: $colour-tertiary;
  margin-top: 5px;
  width: 40px;
  height: 3px;
}
.section__menu {
  background-color: #f6f4f4;
  padding: 40px 20px 40px 20px;
  border-radius: 35px 35px 0 0;
  margin-top: 200px;
  z-index: 1;
  a {
    margin: auto;
    display: block;
    text-align: center;
    text-decoration: none;
    @include default-box-shadow;
  }
  &--step {
    margin-bottom: 40px;
  }
  &--choice {
    border-radius: 16px;
    color: black;
    @include default-box-shadow;
    margin-bottom: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    overflow: hidden;
    animation: displayMenu 0.8s;
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
    cursor: pointer;
    &:hover + .fa-check-circle {
      transform: rotate(1turn);
      transition: transform 500ms ease-in-out;
    }
    &:hover + .section__addition--VBlock {
    //   animation: scaleBlock 1s;
    }
  }
  &--text {
    padding: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 1;
    width: 100%;
    &:hover + .fa-check-circle {
      transform: rotate(1turn);
      transition: transform 500ms ease-in-out;
    }
  }
  &--text small {
    font-size: 15px;
    font-weight: 300;
  }
}

@keyframes displayMenu {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@for $i from 0 to 4 {
  .delay-#{$i} {
    animation-delay: #{$i/10}s;
  }
}
// @keyframes checkCircle {
//   from {
//     transform: rotate(0);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

@keyframes scaleBlock {
  from {
    width: 0px;
  }
  to {
    width: auto;
  }
}

.section__addition {
  display: flex;
  &--prix {
    font-weight: 500;
    margin-right: 5px;
    color: #353535;
    display: flex;
    align-items: flex-end;
    margin: 0 20px;
    transform-origin: right;
    float: right;
    // &:hover + .section__addition--validationBlock {
    //   transform: translateX(0);
    // transition: transform 500ms ease-in-out;
    // overflow: hidden;
    // transition: transform 330ms ease-in-out;

    // transition-property: transform backward;
    // transition-duration: 1s;
    // transform: translateX(0);
    // test
    // animation: scaleBlock 2s linear both;
    // }
  }
  &--validationBlock {
    transform: scaleX(100%);
    transition-property: transform;
    transition-duration: 500ms;
    display: flex;
    background-color: $colour-tertiary;
    transform-origin: left;
  }
  &--validation {
    // background-color: $colour-tertiary;
    overflow: hidden;
    display: inline-block;
    display: flex;
    align-items: center;
  }
}
.section__addition--VBlock {
  // position: absolute;
  // transform: scaleX(100%);
  // transition: transform 500ms ease-in-out;
  // z-index: -10;
  content: "";
  height: 100%;
  width: 86px;
  background-color: $colour-tertiary;
}
.section__menu--text,
h5,
small {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 1;
}

.fa-check-circle {
  // position: absolute;
  // color: white;
  font-size: 35px;
  margin: 0 15px;
  // z-index: 10;
  right: 0;
  // transform: scale(0);
}

@media screen and (min-width: 992px) {
  .all-menu {
    display: flex;
    flex-wrap: wrap;
    &:hover + #iconCheck {
      transform: scale(1) rotate(360deg);
      transition: transform 500ms ease-in-out;
    }
  }
  .section__menu--step {
    justify-content: left;
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }
  .main__restaurants h2{
    margin-top: 40px;
  }
}
