.restaurant-title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-menu {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.charonne {
  top: -50px;
}

h4:after {
  display: flex;
  content: "";
  background: $colour-tertiary;
  margin-top: 5px;
  width: 40px;
  height: 3px;
}
.section__menu {
  background-color: #f6f4f4;
  padding: 40px 20px 40px 20px;
  border-radius: 35px 35px 0 0;
  margin-top: 200px;
  z-index: 1;
  a {
    margin: auto;
    display: block;
    text-align: center;
    text-decoration: none;
    @include default-box-shadow;
  }
  &--step {
    margin-bottom: 40px;
  }
  &--choice {
    border-radius: 16px;
    color: black;
    @include default-box-shadow;
    margin-bottom: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    animation: displayMenu 0.8s;
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
    &:hover {
      display: flex;
      justify-content: space-between;
    }
  }
  &--text {
    padding: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 1;
  }
  &--text small {
    font-size: 15px;
    font-weight: 300;
  }
}

@keyframes displayMenu {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@for $i from 0 to 4 {
  .delay-#{$i} {
    animation-delay: #{$i/10}s;
  }
}
// @keyframes check-circle {
//   from {
//     transform: rotateX(0);
//   }
//   to {
//     transform: rotateX(-360);
//   }
// }
// @keyframes validation {
//   from {
//     transform: scaleX(0);
//   }
//   to {
//     transform: scaleX(1);
//   }
// }
// @keyframes menuchoice {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }

.section__addition {
  display: flex;
  &--prix {
    font-weight: 500;
    margin-right: 5px;
    color: #353535;
    display: flex;
    align-items: flex-end;
    margin: 0 20px 13px 0px;
    cursor: pointer;
    &:hover .section__addition--validation {
      width: auto;
      border-radius: 0 16px 16px 0;
      background-color: $colour-tertiary;
      display: flex;
      align-items: center;
      transition: all 1s ease;
      animation: validation 1s ease-out backwards;
      width: auto;
    }
    &:hover .icone-validation {
      transform: rotate(0);
      // animation: check-circle 1s ease-out;
      // width: auto;
    }
    // &:hover.section__section__menu--info {
    //   display: flex;
    //   justify-content: space-between;
    // }
    &:hover .section__addition--validationBlock {
      transform: scaleX(1);
    }
  }
  &--validationBlock {
    transform: scaleX(0);
    background-color: $colour-tertiary;
  }
  &--validation {
    border-radius: 0 16px 16px 0;
    background-color: white;
    display: flex;
    align-items: center;
    &:hover {
      transform: rotate(0);
      background-color: $colour-tertiary;
    }
    // transition: all 1s ease;
  }
}

.section__menu--text,
h5,
small {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 1;
}

.icone-validation {
  color: white;
  font-size: 35px;
  margin: 0 20px;
  width: 0px;
  transform: rotate(180deg);
}

@media screen and (min-width: 992px) {
  .all-menu {
    display: flex;
    flex-wrap: wrap;
  }
  .section__menu--step {
    justify-content: left;
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }
}
