.button {
  background: linear-gradient(to top left, $colour-primary, $colour-secondary);
  border-radius: 50px;
  padding: 17px 15px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 8px;
  display: flex;
  justify-content: center;
  max-width: 200px;
  &--text {
    color: white;
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px;
    background: linear-gradient(
      to top left,
      $colour-primary-ligth,
      $colour-secondary-ligth
    );
  }
}

.button-commande {
  margin: 0 75px;
}
