.button {
  color: white;
  background: linear-gradient(to top, $colour-primary, $colour-secondary);
  border-radius: 50px;
  padding: 17px 15px;
  margin: auto;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 8px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px;
    background: linear-gradient(
      to top,
      $colour-primary-ligth,
      $colour-secondary-ligth
    );
  }
}

.button-commande {
  margin: 0 75px;
}
