.restaurant__card {
  position: relative;
  display: block;
  border-radius: 15px;
  margin-bottom: 17px;
  max-width: 500px;
  margin: 10px;
  @include default-box-shadow;
  &--image-palette {
    @include card-image;
    background-position-y: 100%;
    background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  }
  &--image-note {
    @include card-image;
    background-position-y: 61%;
    background-image: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  }
  &--image-francaise {
    @include card-image;
    background-position-y: 100%;
    background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  }
  &--image-delice {
    @include card-image;
    background-position-y: 100%;
    background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  }
  &--label {
    position: absolute;
    right: 2rem;
    top: 7%;
    background-color: $colour-tertiary;
    color: #008d47;
    width: 70px;
    text-align: center;
    padding: 6px 8px;
    border-radius: 2px;
  }
  &--infos {
    background-color: white;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 13px 25px 15px 13px;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  p {
    opacity: 0.7;
  }
}

.fa-solid {
  opacity: 0;
  transform-origin: bottom;
  &:hover,
  &:active {
    opacity: 1;
    cursor: pointer;
    background: linear-gradient(to top, $colour-primary, $colour-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scaleY(1);
    animation: heart-to-top 0.25s linear;
    animation-fill-mode: forwards;
  }
}
@keyframes heart-to-top {
  0% {
    background: linear-gradient(to top, $colour-primary, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(to top, $colour-primary, $colour-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.fa-heart {
  font-size: 20px;
}
.far {
  position: absolute;
  opacity: 0.6;
}

// Tablette
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurant__card {
    min-width: 250px;
    max-width: 500px;
  }
}
@media screen and (min-width: 992px) {
  .restaurant__card {
    min-width: 250px;
    max-width: 500px;
  }
}
