* {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.body-index {
  top: 0;
  width: 100%;
  position: absolute;
  z-index: 2;
  animation: homeAppear 5s;
}

@keyframes homeAppear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
